@page "/"

<h4>Shearlegs v1.0.0-dev</h4>
<AuthorizeView>
    <Authorized>
        <h6 class="text-muted">Welcome back @context.User.Identity.Name!</h6>
    </Authorized>
    <NotAuthorized>
        <h6 class="text-muted">You have to sign in to continue</h6>
    </NotAuthorized>
</AuthorizeView>
