@page "/admin/reports/branches/{BranchId:int}/update"

@if (Branch != null)
{
    <div class="bg-light mt-3 p-4">
        <h1>Add Report Plugin</h1>
        @if (Branch.Plugin != null)
        {
            <ul>
                <li>Last Version: @Branch.Plugin.Version</li>
                <li>Last Changelog: @Branch.Plugin.Changelog</li>
            </ul>
        }
        <EditForm OnValidSubmit="AddPluginReportAsync" Model="PluginModel" class="mt-3">
            <div class="mb-3">
                <label class="form-label">Version</label>
                <InputText @bind-Value="PluginModel.Version" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Changelog</label>
                <InputTextArea @bind-Value="PluginModel.Changelog" class="form-control" rows="3" />
            </div>
            <div class="mb-3">
                <label class="form-label">plugin .dll file</label>
                <InputFile OnChange="OnInputFileChange" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">template file</label>
                <InputFile OnChange="OnInputTemplateChange" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">library .dll file</label>
                <InputFile OnChange="OnInputLibraryFileChange" class="form-control" multiple />
            </div>

            <ul class="list-group mb-3">
                <li class="list-group-item disabled">Libraries</li>
                @foreach (var library in PluginModel.Libraries)
                {
                    <li class="list-group-item d-flex align-items-center">
                        <div>
                            @library.Name
                        </div>
                        <div class="ms-auto">
                            <a href="javascript:void(0)" class="btn btn-outline-danger" @onclick="() => RemoveLibrary(library)">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </li>
                }
            </ul>

            <button class="btn btn-primary" type="submit">Update</button>
        </EditForm>
    </div>
}
