@page "/admin/users"

@if (Users != null)
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

    <div class="d-flex align-items-center">
        <div>
            <h5>All Users</h5>
        </div>
        <div class="ms-auto">
            <a class="btn btn-primary" href="/admin/users/add">Add User</a>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr style="cursor: pointer;" @onclick="() => GoToUser(user)">
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
}