@page "/admin/users/{UserId:int}"

@if (User != null)
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">@User.Name</li>
    </ol>

    <div class="p-3 bg-light">
        <h4>Update @User.Name</h4>
        <UserFormComponent User="User" OnSubmit="UpdateUserAsync" />
    </div>
    @if (User.Role != RoleConstants.AdminRoleId)
    {
        <div class="p-3 bg-light">
            <h4>User Reports</h4>
            @foreach (var report in Reports)
            {
                if (User.ReportUsers.Exists(x => x.ReportId == report.Id))
                {
                    <button class="btn badge bg-primary m-1" @onclick="() => DeleteReportUser(report)">@report.Name</button>
                }
                else
                {
                    <button class="btn badge bg-secondary m-1" @onclick="() => AddReportUser(report)">@report.Name</button>
                }
            }
        </div>
    }

}